/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
padding: 1vw 5vw;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
  flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;

/*     margin-bottom: 100vw;
*/ 
}

*{
    padding: 0;
    margin: 0;
}
input, textarea{
  font: poppins;
}
:root {
    /* Header Variables */
    --h1-font-size: 2.5rem; 
    --h1-color: #000094;
    --nav-font:.95rem;
    --nav-fontW: bolder;
    --text-color:#ffffff;
    --text-size: 1rem;
    --white-bg:#ffffff;
    --blue-bg:#000094;
  
    --h2-font-size: 2rem; 
    --h2-color: #555555;
  
    /* Background Color */
    --bg-color: #e8e8e8; 
    --bg-color2: #000094; 
    /* Button Color */
    --btn-color: #ffffff; 
    --btn-border: #000094 solid 1.5px;
    --btn-padding:.5vw 1vw;
    --border-r:30px;
    --transitin:.5s ease;
  }

.headingSection{
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin:auto auto;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.headingSection img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.headingSection h1{
  display: none;
}
#IICTpage{
  width: 100%;
  height: 100vh;
  display: -webkit-box;    display: -ms-flexbox;    display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  background-color: #e8e8e865;
  border-radius: 20px;
  margin:auto auto;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-image: url(Pics/IICT.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: normal;
  background-position: 20% 20%;
  mix-blend-mode: multiply;
}
#IICTpage h1{
  display: none;
}

#primary{
height: 80vh;
}

.headingSection h1{
display: none;
}
.pageContent{
  width: 90%;
  /* height: 200vh */;
  display: -webkit-box;;
  display: -ms-flexbox;;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 2vw 5vw;
}
.pageContent p{
  text-align: justify;
}

.headforpages{
  padding-bottom: 30px;
  color: #3a3a3a;
  font-size: 1.5vw 3vw;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.moreinfo{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-image: linear-gradient(30deg, #011031e5, #2600ff9c), url(IICT002.jpg);
  background-position: center;
  background-size: cover;

  
}



.moreinfo h1{
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
  background-color: #080808b2;
  padding: 1vw 2vw;
  border-radius:2vw;
  -webkit-border-radius:2vw;
  -moz-border-radius:2vw;
  -ms-border-radius:2vw;
  -o-border-radius:2vw;
  text-align: center;
}
.moreinfo a{
  text-decoration: none;
  color: #fff;
  padding: 1vw 3vw;
  background-color: #2a006d;
  margin: 1vw 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 500;
  transition: var(--transitin);
  -webkit-transition: var(--transitin);
  -moz-transition: var(--transitin);
  -ms-transition: var(--transitin);
  -o-transition: var(--transitin);
  text-align: center;
}
.moreinfo a:hover, .moreinfo a:focus{
  background-color: #ffff;
  color: #000094;
}

#MapPrimary{
  margin-bottom: 3vw;
  margin-top: -4vw;
}



#patientIDheader{

  display: -webkit-box;    display: -ms-flexbox;    display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  background-color: #e8e8e865;
  border-radius: 20px;
  margin:auto auto;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-image: linear-gradient(-150deg, #b3b3b3, #002b7c);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: normal;
  background-position: 20% 20%;
  mix-blend-mode: multiply;
}
#patientIDheader h1{
  color: #fff;
}

/* MEDIA QUERIES */

@media screen and (width<= 768px) 
and (-webkit-min-device-pixel-ratio: 1){
  #otherBtn{
    height: 6vw
  }
  .headingSection{
    background-color: transparent;
    mix-blend-mode: normal;
  }

  .moreinfo{
    min-height: 40vh;
  }
  .moreinfo h1{
    text-align: center;
  }
  .moreinfo a{
    text-align: center;
  }
  #BIIHMISLogo{
    display: flex;
    position: absolute;
    left: 20vw;
    width: 15vw;
  }

  
}


@media screen and (width<= 560px) 
and (-webkit-min-device-pixel-ratio: 1){
  #otherBtn{
    height: 15vw
  }
}
@media screen and (width<= 400px) 
and (-webkit-min-device-pixel-ratio: 1){
  #otherBtn{
    height: 15vw
  }
  #BIIHMISLogo{
    display: flex;
    position: absolute;
    left: 20vw;
    width: 15vw;
  }

 
}
@media screen and (width<= 360px) 
and (-webkit-min-device-pixel-ratio: 1){
  .headingSection{
    height: 30vh;
  }
  #IICTpage{
    height: 30vh;
  }
  #otherBtn{
    height: 15vw
  }
  #MobileBtn{
    width: 70%;
    height: 70wh;
    font-size: 12px;
  }
  #BIIHMISLogo{
    display: flex;
    position: absolute;
    left: 20vw;
    width: 15vw;
  }
  .moreinfo{
    height: 30vh;
  }
  .moreinfo h1{
    font-size: 5vw;
  }
  .moreinfo a{
    margin-top: 4vw;
    font-size: 4.5vw;
  }

}

@media screen and (width<= 320px) 
and (-webkit-min-device-pixel-ratio: 1){
  #otherBtn{
    height: 20vw
  }
  .footer{
    height: 180vh;
  }
  #BIIHMISLogo{
    display: flex;
    position: absolute;
    left: 20vw;
    width: 15vw;
  }
  
}



