

.headingSection{
    width: 100%;
    height: 40vh;
/*     border: #3a3a3a solid 3px;
 */    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #e8e8e8;
    border-radius: 20px;
    margin:auto auto;
    transition: .5s ease;
    background-image: /* linear-gradient(30deg, #3a3a3a, #fff) */ url(pics/BDIC.jpg);
    background-blend-mode: overlay;
    background-position: center;

}
.headingSection h1{
    font-size: 6vw;
    color: var(--h1-color);
    text-align: center;
}
.headingSection:hover, .headingSection:focus ~ .headingSection h1{
    background-color: #b4b4b4;
}
.pageContent{
    width: 100%;
    /* height: 200vh */;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: start;
    padding: 2vw 5vw;
}
.headforpages{
    padding-bottom: 30px;
    color: #3a3a3a;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width : 768px) {
    body{
     background-color:#e7e7ff;
     width: 100%;
     height: 20vh;
     background-image: url(pics/african-american-black-doctor-man-with-stethoscope-isolated-white-background.jpg);
     background-position: center;
     object-fit: cover;
     background-repeat: no-repeat;
     background-size: 200%;
   }

   .pageContent{
    display: none;
   }
   
   .hero1{
     visibility: hidden;
   }
   .hero2{
     visibility: hidden;
   }
   .lattestNews{
     visibility: hidden;
   }
   .footer{
     visibility: hidden;
   }
   .year{
     visibility: hidden;
   }
   .Access{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 90%;
     position: absolute;
     top: 20vw;
     background-color: #7676ffbe;
     border-radius: 20px;
     backdrop-filter: blur(.2rem);
     
   }
   .accessT{
     font-size: 7vw;
     padding: 5vw;
     z-index: 1;
     color: #fff;
   }
}

   @media screen and (max-width : 984px) {
    body{
     background-color:#e7e7ff;
     width: 100%;
     height: 20vh;
     background-image: url(pics/african-american-black-doctor-man-with-stethoscope-isolated-white-background.jpg);
     background-position: center;
     object-fit: cover;
     background-repeat: no-repeat;
     background-size: 200%;
   }
  
   .pageContent{
    display: none;
   }
   
   .hero1{
     visibility: hidden;
   }
   .hero2{
     visibility: hidden;
   }
   .lattestNews{
     visibility: hidden;
   }
   .footer{
     visibility: hidden;
   }
   .year{
     visibility: hidden;
   }
   .Access{
    
     display: flex;
     align-items: center;
     justify-content: center;
     width: 90%;
     position: absolute;
     top: 20vw;
     background-color: #7676ffbe;
     border-radius: 20px;
     backdrop-filter: blur(.2rem);
     
   }
   .accessT{
     font-size: 7vw;
     padding: 5vw;
     z-index: 1;
     color: #fff;
   }
   }