@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
padding: 1vw 5vw;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
  flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
  position: relative;
}

*{
    padding: 0;
    margin: 0;
}
input, textarea{
  font: poppins;
}
:root {
    /* Header Variables */
    --h1-font-size: 2.5rem; 
    --ft-color: #3a3a3a;
    --nav-font:.95rem;
    --nav-fontW: bolder;
    --ft-color2:#ffffff;
    --text-size: 1rem;
    --white-bg:#ffffff;
    --bg1:#3a3a3a;
    --bg3:#111111;
  
    --h2-font-size: 2rem; 
    --h2-color: #555555;
  
    /* Background Color */
    --bg2: #7c7c7c; 
    --bg-color2: #000094; 
    /* Button Color */
    --btn-color: #ffffff; 
    --btn-border: #000094 solid 1.5px;
    --btn-padding:.5vw 1vw;
    --border-r:30px;
    --transitin:.4s ease;
  }
  header{
    width: 100%;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav{
    width: 95%;
    height: 100%;
    background-color: var(--bg1);
    border-radius: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    gap:80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

  header nav .logo{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .logo p{
color: var(--ft-color);
}
header nav ul{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  color: var(--ft-color2);
  background-color: var(bg2);
  padding: 2px 40px;
  text-decoration: none;
  background-color: var(--bg2);
  margin: 0 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: var(--transitin);
  -webkit-transition: var(--transitin);
  -moz-transition: var(--transitin);
  -ms-transition: var(--transitin);
  -o-transition: var(--transitin);
}
.contact a{
  color: var(--ft-color2);
  background-color: var(bg2);
  padding: 2px 40px;
  text-decoration: none;
  transition: var(--transitin);
  -webkit-transition: var(--transitin);
  -moz-transition: var(--transitin);
  -ms-transition: var(--transitin);
  -o-transition: var(--transitin);
}

header nav ul li a:hover, header nav ul li a:focus, 
.contact a:hover, .contact a:focus{
  background-color: var(--bg);
  color: var(--bg2);
}
.MobileHeader, .Mobilelogo{
  display: none;
}



.hero1{
  height: 150vh;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.sidebar{
  width: 60%;
  height: 100%;
  background-color: #cacaca31;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content:center;
  align-items: start;
  flex-flow: column wrap;
  padding: 0vw 3vw ;
  gap: 10px;
  backdrop-filter: blur(.3vw);
  transition: var(--transitin);
  -webkit-transition: var(--transitin);
  -moz-transition: var(--transitin);
  -ms-transition: var(--transitin);
  -o-transition: var(--transitin);
}

 .sidebar li{
  list-style: none;
  background-color: var(--bg2);
  width: 100%;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: var(--transitin);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

 .sidebar li:hover{
  background-color: var(--bg1);
 }

 .sidebar a{
  text-decoration: none;
  color: var(--ft-color2);
  padding: 5px 3px;
  font-size: 35px;
  transition: var(--transitin);
  -webkit-transition: var(--transitin);
  -moz-transition: var(--transitin);
  -ms-transition: var(--transitin);
  -o-transition: var(--transitin);
}

 .sidebar a:hover{
  font-size: 30px;
 }

 .hero1:hover .sidebar{
  background-color: #4b4b4b31;
 }
 .hero1:hover .sidebar li{
  background-color: var(--bg1);
 }

 #Jan31st{
  background-color: var(--bg1);
  height: 50vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
 #Jan31st h2{
  color: var(--ft-color2);
  font-size: 4vw;
  text-align: center;
 }


/* Media Queries */
@media screen and (max-width:1280px) {
  nav{
    width: 100%;
  }
  header nav ul{
    margin-left: 0px;
    width: 55%;
   
  }
  
  header nav ul li a{
    margin: 0 15px;
    padding: 0 20px;
  }

  .sidebar a{
    font-size: 2vw;
  }
}

@media screen and (max-width:1080px){
  header{
    height: 4vw;
  }
  header nav{
    width: 100%;
    gap: 70px;
  }
  header nav ul{
    
    justify-content: start;
    width: 80%;
   
  }
  
  header nav ul li a{
    margin: 0 15px;
    padding: 0 20px;
  }
  .contact a{
    padding: 0;
  }

  .hero1{
    height: 120vh;

  }
  .sidebar{
    width: 50%;
  }
  .sidebar li{
    height: 9vw;
  }

  .sidebar li a{
    font-size: 2.3vw;
  }

}

@media screen and (max-width:1024px){
  header{
    height: 4.5vw;
  }
  header nav{
    gap: 40px;
  }
}

@media screen and (max-width:980px){
  .pcMenu{
    display: none;
  }

.MobileHeader{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 90vh;
  width:70%;
  position: absolute;
  top: 0;
  right: 0;

}
.navForMobile{
  z-index: 2;
  display: none;
  align-items: center;
  justify-self: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  background-color: var(--bg2);
  gap: 10px;
  animation:.5s ease-in-out forwards ;

}
.navForMobile ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;
}


.navForMobile li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color:var(--bg1);
  list-style: none;
}
.navForMobile li a{
  color: var(--ft-color2);
  font-size: 3vw;
  text-decoration: none;
  transition: var(--transitin);
  -webkit-transition: var(--transitin);
  -moz-transition: var(--transitin);
  -ms-transition: var(--transitin);
  -o-transition: var(--transitin);
}
.navForMobile li a:hover, .navForMobile li a:focus{
  color: #c2c2c2;
}
.Mobilelogo{
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 5vw;
  top: 10px;
}



.menu-btn{
  height: 10%;
  width: 10vw;
  background-color: transparent;
  position: absolute;
  right: 5vw;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.menu-icon, .menu-icon::before, .menu-icon::after{
  background-color:#202020;
  position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.menu-icon::after, .menu-icon::before{
  content: "";
}

.menu-icon::before{
  transform: translate(-.1px, -10px);
  -webkit-transform: translate(-.1px, -10px);
  -moz-transform: translate(-.1px, -10px);
  -ms-transform: translate(-.1px, -10px);
  -o-transform: translate(-.1px, -10px);
}

.menu-icon::after{
  transform: translate(.1px, 10px);
  -webkit-transform: translate(.1px, 10px);
  -moz-transform: translate(.1px, 10px);
  -ms-transform: translate(.1px, 10px);
  -o-transform: translate(.1px, 10px);
}
:is(.MobileHeader:hover, .MobileHeader:focus-within) .menu-icon{
  background-color: transparent;
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}

:is(.MobileHeader:hover, .MobileHeader:focus-within) .menu-icon::before{
  transform: translate(-.1px) rotate(-45deg);
  -webkit-transform: translate(-.1px) rotate(-45deg);
  -moz-transform: translate(-.1px) rotate(-45deg);
  -ms-transform: translate(-.1px) rotate(-45deg);
  -o-transform: translate(-.1px) rotate(-45deg);

}

:is(.MobileHeader:hover, .MobileHeader:focus-within) .menu-icon::after{
  transform: translate(-.1px) rotate(45deg);
  -webkit-transform: translate(-.1px) rotate(45deg);
  -moz-transform: translate(-.1px) rotate(45deg);
  -ms-transform: translate(-.1px) rotate(45deg);
  -o-transform: translate(-.1px) rotate(45deg);
}
    
:is(.MobileHeader:hover, .MobileHeader:focus-within) .navForMobile{
  display: flex;
  }

  .sidebar{
    width: 60%;
  }
  .sidebar li{
    height: 10vw;
  }
  .sidebar li a{
    font-size: 3vw;
  }





}

@media screen and (max-width:800px){
  .sidebar{
    position: relative;
    width: 100%;
  }

}

@media screen and (max-width:640px){

  .navForMobile li a{
    font-size: 25px;
  }
  .hero1{
    height: 80vh;
  }


.menu-btn{
  top: 8px;
  right: 30px;
}

.sidebar{
  width: 100%;
  position: relative;
}
.sidebar li a{
  font-size: 4vw;
}
.sidebar li a:hover{
  font-size: 17px;
}


}

@media screen and (max-width:460px){
.hero1{
  height: 90vh;
}
.sidebar li{
  height: 14vw;
}
.sidebar li a{
  font-size: 4.3vw;
}
}
