@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "poppins", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}
input,
textarea {
  font: poppins;
}
:root {
  /* Header Variables */
  --h1-font-size: 2.5rem;
  --h1-color: #046400;
  --nav-font: 0.95rem;
  --nav-fontW: bolder;
  --text-color: #ffffff;
  --text-size: 1rem;
  --white-bg: #ffffff;
  --blue-bg: #128803;

  --h2-font-size: 2rem;
  --h2-color: #555555;

  /* Background Color */
  --bg-color: #e8e8e8;
  --bg-color2: #005e00;
  /* Button Color */
  --btn-color: #ffffff;
  --btn-border: #177200 solid 1.5px;
  --btn-padding: 0.5vw 1vw;
  --border-r: 30px;
  --transitin: 0.5s ease;
  --simpleColor: #186600;
  --text_bg: #1b8d04ad;
  --bg_fade: #2d9b17;
  --bg_fade2: #519145;
}

.hero1 {
  width: 100%;
  height: 100vh;
  background-color: #009c0075;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg_text {
  position: absolute;
  margin: auto;
  font-size: 9.5vw;
  color: #046400;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.payment_options {
  z-index: 1;
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background-color: #ffffffe7;
  backdrop-filter: blur(1.5px);
  box-shadow: #1d1d1d7e 0 0 60px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.payment_options_heeader {
  color: #005e00;
  margin-bottom: .4vw;
  font-size: 3vw;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 20px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 20px;
}

th {
  background-color: #4caf50;
  color: white;
}

td {
  background-color: #f2f2f2;
  color: #005e00;
}

td:first-child {
  width: 55%; /* Make the Banks column wider */
  margin: auto;
}

td:last-child {
  width: 45%; /* Make the Details column narrower */
}
td a {
  color: #005e00;
}

.bank_id{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}
.bank_id p{
font-weight: bold;
}

td img{
  width: 4rem;
}
.back_home{
  background-color: var(--bg-color2);
  padding: .5vw 2vw;
  color: var(--btn-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
}

@media screen and (width<=700px) {
  .payment_options {
    z-index: 1;
    width: 80vw;
    height: 70vh;
  }
  .payment_options_heeader {
    font-size: 5vw;
  }
}

@media screen and (width<=580px) {
  table {
    width: 90%;
    border-collapse: collapse;
  }
  .payment_options {
    z-index: 1;
    width: 90%;
    height: 95vh;
  }
  .payment_options_heeader {
    font-size: 6vw;
  }
}

@media screen and (width<=500px) {
  .hero1 {
    width: 100%;
    height: 100vh;
  }
  table {
    width: 80%;
    border-collapse: collapse;
  }
  th {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
  }

  td {
    background-color: #f2f2f2;
    color: #005e00;
    font-size: 18px;
  }

  .payment_options {
    z-index: 1;
    width: 95%;
    height: 100vh;
  }
  .payment_options_heeader {
    font-size: 6vw;
  }
}

@media screen and (width<=480px) {
  .hero1 {
    width: 100%;
    height: 120vh;
  }

  .payment_options {
    z-index: 1;
    width: 90%;
    height: 110vh;
  }
  .payment_options_heeader {
    font-size: 6vw;
  }
}

@media screen and (width<=360px) {
  .hero1 {
    width: 100%;
    height: 120vh;
  }
  table {
    width: 70%;
    border-collapse: collapse;
  }

  .payment_options {
    z-index: 1;
    width: 90%;
    height: 110vh;
  }
  _heeader {
    font-size: 6vw;
  }
}
