/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
padding: 1vw 5vw;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
  flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
}

*{
    padding: 0;
    margin: 0;
}
input, textarea{
  font: poppins;
}
:root {
    /* Header Variables */
    --h1-font-size: 2.5rem; 
    --h1-color: #000094;
    --nav-font:.95rem;
    --nav-fontW: bolder;
    --text-color:#ffffff;
    --text-size: 1rem;
    --white-bg:#ffffff;
    --blue-bg:#000094;
  
    --h2-font-size: 2rem; 
    --h2-color: #555555;
  
    /* Background Color */
    --bg-color: #e8e8e8; 
    --bg-color2: #000094; 
    /* Button Color */
    --btn-color: #ffffff; 
    --btn-border: #000094 solid 1.5px;
    --btn-padding:.5vw 1vw;
    --border-r:30px;
    --transitin:.5s ease;
  }


  header{
    
   width: 95%;
    height: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }
  header img{
    width:6.6vw;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
/*     border: var(--btn-border);
    border-radius: 50%;
 */  }

 .navForMobile{
display: none;
 }
 .MobileHeader{
display: none;
 }


 .stateLogo{
  width: 4.5vw;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
   margin-left: -16px;
  margin-right: 6px;
 }

 #basketLogo{
  margin-left: 10px;
 }

  nav{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
    
  }
  nav ul li{
    text-align: left;
    list-style: none;
  }
  nav ul li a{
    background-color: #ffffff;
    border-radius: var(--border-r);
    font-size: var(--nav-font);
    font-weight: var(--nav-fontW);
    text-decoration: none;
    padding: var(--btn-padding);
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }
  nav a:hover, nav a:focus{
    background-color: #000094;
    color: var(--btn-color);
    border-radius: var(--border-r);
  }


    .search{
      width: 50%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      flex-shrink: 50% 20%;
      gap: 1vw;
      margin-bottom: 3vw;

    }
    .search p{
      color: #000094;
      font-weight: bold;
    }
    .search input{
      width: 70%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border: #000094 solid 1.5px;
}


.heroSpecial{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 3vw;
  gap: 1vw;
}
.BenueMap, .Governor{
  flex: 1;
  height: 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Governor{
  position: relative;
}
.Governor h2{
  position: absolute;
  bottom: 3vw;
  left: 0vw;
  width: 100%;
  text-align: center;
  font-size: 2vw ;
  color: #fff;
}
.BenueMap img, .Governor img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



.visionMission{
width: 100%;
height: 100v;
display: flex;
align-items: center;
justify-content: center;
margin-top: 2vw;
margin-bottom: -2vw;
gap: 1vw;
}

.visionMission img{
  width: 50%;
  object-fit: cover;
}

  .hero1{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    background-image: url(Pics/Hero1\ Hearder1.jpg);
    background-position: center;
    background-size: 160%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    position: relative;
    padding: 2vw;
    gap: 2vw;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
    z-index: 1;
  }
  .cover{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    border-radius: 30px;
    z-index: -1;
    opacity: .5;


  }

.hero1::after{
  content: "";
  width: 100%;
  height: 100%;
/*   background-color: #7676ff;
 */  position: absolute;
  border-radius: 30px;
  opacity: 0;
  -webkit-transition: var(--transitin);
  -o-transition: var(--transitin);
  transition: var(--transitin);
}

/* .hero1:hover::after{
  opacity: .4;
} */
  .subject{
    position: absolute;
    margin: auto;
    left: 28%;
    top: 9.5%;
    z-index: 1;
  }
  .subject img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 67.4%;
  }
  .heading{
    font-size: 12vw;
    text-align: center;
    line-height: 10vw;
    color: var(--bg-color2);
  }
  .s-text{
    width: 95%;
    height: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    margin-top: -2vw;
  }
  .s-text p{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4vw;
    padding: 1vw 1vw ;
    background-color: #3636e4;
    text-align: center;
    letter-spacing: .2vw;
  }

  .hero-sub{
    width: 90%;
    height: 17vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;

  }
  .sub-content{
    width: 30%;
    height: 50%;
    background-color: var(--bg-color2);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: .5vw 1vw;
  }

  .sub-content p{
    font-size: var(--text-size);
    color: var(--text-color);
    font-weight: bold;
  }

  .action-btn{
    width: 30%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .action{
    padding: 4px 15px;
    font-weight: bold;
    border: var(--btn-border);
    background-color: var(--btn-color);
    color: var(--bg-color2);
    border-radius: var(--border-r);
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }
  .action:hover, .action:focus{
  color: var(--btn-color);
  background-color: var(--bg-color2);
  }
  .hero2{
    width: 100%;
     /* height: 300vh; */
     display: -webkit-box;    display: -ms-flexbox;    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-top: 5vw;
  }

  .about-us{
    width: 95%;
     height: 70vh; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    gap:1vw;
   margin-left: 2vw;
   margin-top: 1vw;
  }

  .sideTitile{
    position: relative;
  }
  .AboutTopic{
    position: absolute; 
    top: 40%; left: 20px; 
    z-index: 1; 
    color:#353535; 
    font-size: 1.4vw; 
    text-align: center;
  }
  .headtextformobile{
    visibility: hidden;
    color: red;
  }
  .about-us img{
    width: 10vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-us .content{
    width: 60vw;
  }
  .Learn{
    height: 2vw;
    width: 10vw;
    padding: 4px 15px;
    font-weight: bold;
    border: var(--btn-border);
    background-color: var(--btn-color);
    color: var(--bg-color2);
    border-radius: var(--border-r);
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }

  .Learn:hover, .Learn:focus{
    color: var(--btn-color);
    background-color: var(--bg-color2);
    }

    .registerPageForMobile{
      display: none;
    }

    .lattestNews{
      width: 100%;
      height: 100vh;
      background-color: var(--bg-color);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      border-radius: 30px;
      padding: 2vw;
      gap: 2vw;
    }
   .newsBox{
    width: 100%;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
   }
   .news{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(25% - 10px);
            flex: 1 1 calc(25% - 10px);
/*     border: #3a3a3a solid 2px;
 */    height: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    position: relative;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .news p{
    white-space: normal;
    width: 90%;
    height: 95%;
/*     border: #000094 solid;
 */    white-space: wrap;
   }
   .newsHead{
    font-weight: bolder;
    text-decoration: underline;
    color: #000094;
   }

   .news:hover, .news:focus{
    background-color: #7676ff;
    color: #ffffff;
   }
   .news img{
    width: 15%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    right: 5px;
    bottom: 5px;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .news img:hover, .new img:focus{
    width: 13%;
   }
   .news p{
    width: 80%;
    padding: 2px 2px;
    margin: 15px ;
    height: 80%;
  pointer-events: none;
   }
   .findUs{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: -6vw;
    margin-top: 2vw;
}
.findUs h1{
color: #000094;
text-align: center;
}

   iframe{
    width: 100%;
    height: 80vh;
    margin-bottom: 3vw;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

   .footer{
    background-color: #3a3a3a;
    width: 100%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 2vw;
    border-radius: 10px;
   
   }
   .footerNav{
/*     border: #fff solid 2px;
 */    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
   }
   .footerNav li{
    list-style: none;
   }
   .footerNav li a{
    color: #fff;
    text-decoration: none;
    padding: .4vw 1vw;
    background-color: var(--bg-color2);
    border-radius: 3vw;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    -ms-border-radius: 3vw;
    -o-border-radius: 3vw;
}
   .footerNav li a:hover,  .footerNav li a:focus{
    background-color: #fff;
    color: #000094;
    font-weight: bolder;
   }

   .footerBox{
    width: 100%;
    height: 85%;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-between;
    padding-right: 1vw;
    padding-left: 1vw;
    gap:7vw;
   }

   
    .footerContent{
      font-size: 14px;
      width: 63vw;
      color: #fff;
      flex-flow: wrap;
   }

   .footerContent a{
    color: #fff;
    text-decoration: none;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .footerContent a:hover, .footerContent a:focus{
    color: #a17d7d;
   }
   .m-logo{
    display: none;
   }



   /* Media Queries */


 /* LAPTOP */


 @media screen and (width<= 2000px) 
 and (-webkit-min-device-pixel-ratio: 1) { 




 
  .hero2{
    margin-top: 2vw;
  }

   .about-us{
   height: 30vh;
   margin-top: 1vw;
   }
   #Con3{
     height: 40vh;
     
   }
   .content p{
     text-align: justify;
   
   }

   .Learn{
     height: 2vw;
     width: 10vw;
     margin-bottom: 2vw;
   }
   .lattestNews{
     width: 100%;
     height: 90vh;
   }
   .news{
    height: 40vh;
   }
   #newsBtn{
      height: 2vw;
      width: 10vw;
   }
    .s-text{
     margin-top: 0vw;
   } 
   .sub-content{
     width: 30%;
   height: 65%;
   }

   .footer{
    height: 60vh;
    margin-top: 0;
   }

}


@media screen and (width<= 1768px) 
 and (-webkit-min-device-pixel-ratio: 1){

 }

 @media screen and (width<= 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 
/* 
   body{
    background-color: rgb(47, 24, 255);
  } */
 
  .hero2{
    margin-top: 0;
  }

   .about-us{
   height: 40vh;
   margin-top: 1vw;
   }
   #Con3{
     height: 50vh;
     
   }
   .content p{
     text-align: justify;
   
   }

   .Learn{
     height: 2vw;
     width: 10vw;
     margin-bottom: 2vw;
   }
   .lattestNews{
     width: 100%;
     height: 90vh;
   }
   .news{
    height: 33vh;
   }
   #newsBtn{
      height: 2vw;
      width: 10vw;
   }
    .s-text{
     margin-top: 0vw;
   } 
   .sub-content{
     width: 30%;
   height: 65%;
   }

   .footer{
    height: 60vh;
    margin-top: 0;
   }

}

@media screen and (width<= 1380px) 
and (-webkit-min-device-pixel-ratio: 1){

  .about-us{
  height: 35vh;

}

#Con2{
  height: 40vh;
}
#Con3{
  height: 50vh;
}
.Learn{
  height: 3vw;
  margin-top: 3vw;
}


#lattest{
  height: 150vh;
}

.news{
  height: 50vh;
}

#newsBtn{
  height: 3vw;
  margin-top: 3vw;
}


}


@media only screen  
  and (width<= 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    nav{
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
              margin-left: 1vw;
    }
    
    nav ul li a{
      font-size: 10px;
      background-color: #d8d8d8c9;
   }

   


   .hero1{
    height: 100vh;
    margin-bottom: 1.5vw;
   }
  
   .hero-sub{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
   }
   .sub-content{
    width: 80%;
  
   }
   .action-btn{
    width: 60%;
   }
   .action{
    width: 20vw;
    height: 5vh;
   }
   .about-us{
    height: 30vh;
  
   } 

   #Con2{
    height: 32vh;
   }

   #Con3{
    height: 43vh;
   }

   .content{
    font-size: 14px;
   }

   .lattestNews{
    height:88vh;
    width: 80vw;
   }
   .news{
    height: 50vh;
  }
  
  #newsBtn{
    height: 3vw;
    margin-top: 3vw;
  }
   .news img{
    width: 3vw;
   }
   #newsBtn{
    width: 20vw;
    height: 4vw;
   }
   .Learn{
    width: 25vw;
    height: 4vw;
    margin-bottom: 6vw;
  }

   .footer{
    height: 50vh;
   }
   .footerBox{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
   }

   .footerNav a{
    font-size: 13px;
   }
   .footerContent h2{
    font-size: 20px;
   }
   .footerContent p{
    font-size: 14px;
   }
  


}

@media only screen  
  and (width<= 1080px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .news{
      height: 60vh;
    }
    
    #newsBtn{
      height: 3vw;
      margin-top: 3vw;
    }

  }


@media only screen  
  and (width<= 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    nav{
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
              margin-left: 1vw;
    }
    
    nav ul li a{
      font-size: 10px;
      background-color: #d8d8d8c9;
   }


   

   .hero1{
    height: 100vh;
    margin-bottom: 1.5vw;
   }

  
   .hero-sub{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
   }
   .sub-content{
    width: 80%;
  
   }
   .action-btn{
    width: 60%;
   }
   .action{
    width: 20vw;
    height: 5vh;
   }
   .about-us{
    height: 35vh;
   } 

   .content{
    font-size: 14px;
   }
   #Con3{
    height: 43vh;
   }
   #newsBtn{
    width: 40vw;
    height: 8vh;
    margin-top: 2vw;
    font-size: 16px;
   }
   .lattestNews{
    height: 130vh;
    width: 80vw;
   }
   .news{
    height: 25vh;
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 10px);
            flex: 1 1 calc(50% - 10px);
   }
   .news img{
    width: 3vw;
   }
   #newsBtn{
    width: 20vw;
    height: 4vw;
   }
   .Learn{
    width: 25vw;
    height: 4vw;
    margin-bottom: 6vw;
  }

   .footer{
    height: 50vh;
   }
   .footerBox{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
   }
   .footerNav a{
    font-size: 13px;
   }
   .footerContent h2{
    font-size: 20px;
   }
   .footerContent p{
    font-size: 14px;
   }
  


}

@media only screen  
  and (width<= 900px) {
    .about-us{
      height: 40vh;
    }
    #Con2{
      height: 45vh;
    }
    #Con3{
      height: 50vh;
    }
    .visionMission{
      flex-flow: column wrap;
      height: 130vh;
      margin-bottom: 0;
      padding: 0;
    }
    .visionMission img{
      width: 90%;
    }
    .footer{
      height: 55vh;
    }
  }

@media only screen  
  and (width<= 885px) 
  and (-webkit-min-device-pixel-ratio: 1){

    
    #newsBtn{
      height: 3vw;
      margin-top: 3vw;
    }

    .about-us{
      height: 40vh;
    }

    #Con2{
      height: 50vh;
    }
    #Con3{
      height: 50vh;
    }


  }


@media only screen 
  and (width<= 880px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .heroSpecial{
      width: 100%;
      height: 160vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      margin-top: 3vw;
      gap: 1vw;
      padding: 0 20px;
    }
    
}



    .about-us{
      position: relative;
      height: 30vh;
    }
    #Con2{
      height: 30vh;
    }
    #Con3{
      height: 35vh;
    }
    .content{
      font-size: 12px;
    }
 

    .topicpics{
      display: none;
      position: absolute;
    }
  .AboutTopic{
visibility: hidden;
}
.Learn{
  width: 25vw;
  height: 4vw;
  margin-bottom: 6vw;
}
.headtextformobile{
  visibility: visible;
  color: #000094;
  font-size: 3vw;
  font-weight: bold;
}
.lattestNews{
  height: 190vh;
} 
.news{
 height: 33vh;
}


.footer{
  height: 40vw;
}
.footerNav a{
font-size: 12px;
}
.footerContent h2{
  font-size: 16px;
}
.footerContent p{
  font-size: 12px;
}
  

@media only screen 
  and (width<= 840px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .about-us{
      position: relative;
      height: 35vh;
    }
    #Con3{
      height: 40vh;
    }
    .content{
      font-size: 12px;
    }

    .topicpics{
      display: none;
      position: absolute;
    }
  .AboutTopic{
visibility: hidden;
}
.Learn{
  width: 25vw;
  height: 4vw;
  margin-bottom: 6vw;
}
.headtextformobile{
  visibility: visible;
  color: #000094;
  font-size: 3vw;
  font-weight: bold;
}
.lattestNews{
  height: 190vh;
} 
.news{
 height: 33vh;
}


.footer{
  height: 40vw;
}
.footerNav a{
font-size: 12px;
}
.footerContent h2{
  font-size: 16px;
}
.footerContent p{
  font-size: 12px;
}
  }

@media only screen 
  and (width<= 812px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .about-us{
      position: relative;
      height: 40vh;
    }
    #Con3{
      height: 50vh;
    }
    .content{
      font-size: 12px;
    }
    .visionMission{
      height: 120vh;
    }

    .topicpics{
      display: none;
      position: absolute;
    }
  .AboutTopic{
visibility: hidden;
}
.Learn{
  width: 25vw;
  height: 4vw;
  margin-bottom: 6vw;
}
.headtextformobile{
  visibility: visible;
  color: #000094;
  font-size: 3vw;
  font-weight: bold;
}
.lattestNews{
  height: 190vh;
} 
.news{
 height: 33vh;
}


.footer{
  height: 40vw;
}
.footerNav a{
font-size: 12px;
}
.footerContent h2{
  font-size: 16px;
}
.footerContent p{
  font-size: 12px;
}
  }


  
  @media only screen and (width<= 768px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
      overflow-x: hidden;
      position: relative;
      margin-top: 6vw;
    }

    header nav{
      display: none;
    }
    header img{
      display: none;
    }





    .MobileHeader{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: right;
          -ms-flex-pack: right;
              justify-content: right;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 10vw;
      margin-top: 2vw;
      
    }
    
    .MobileLogoHambugger{
      width: 100%;
      z-index: 10;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    
    .menu-btn{
      height: 100%;
      width: 12vw;
      background-color: transparent;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
    }
    
    .menu-icon, .menu-icon::before, .menu-icon::after{
      background-color:#000094;
      position: absolute;
        width: 25px;
        height: 2px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    
    .menu-icon::after, .menu-icon::before{
      content: "";
    }
    
    .menu-icon::before{
      transform: translate(-.1px, -10px);
      -webkit-transform: translate(-.1px, -10px);
      -moz-transform: translate(-.1px, -10px);
      -ms-transform: translate(-.1px, -10px);
      -o-transform: translate(-.1px, -10px);
    }
    
    .menu-icon::after{
      transform: translate(.1px, 10px);
      -webkit-transform: translate(.1px, 10px);
      -moz-transform: translate(.1px, 10px);
      -ms-transform: translate(.1px, 10px);
      -o-transform: translate(.1px, 10px);
    }
    
    .navForMobile{
     display: none;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-flow: column;
     flex-flow: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 3vw 2vw;
     width: 60%;
     height: 200vw;
     border: none;
     background-color: rgba(159, 159, 255, 0.247);
     -webkit-backdrop-filter: blur(.2rem);
     backdrop-filter: blur(.2rem);
     -webkit-box-shadow: #3a3a3aaf -6vw 2vw 5vw;
     box-shadow: #3a3a3aaf -6vw 2vw 5vw;
     position: absolute;
     right: 0;
     top: .5vw;
     border-radius: 2vw 0 0 6vw;
     z-index: 4;
     -webkit-border-radius: 2vw 0 0 6vw;
     -moz-border-radius: 2vw 0 0 6vw;
     -ms-border-radius: 2vw 0 0 6vw;
     -o-border-radius: 2vw 0 0 6vw;
     transform-origin: right top;
     animation:.5s ease-in-out forwards ;
     -webkit-animation:.5s ease-in-out forwards ;
     transition:var(--transitin) ;
     -webkit-transition:var(--transitin) ;
     -moz-transition:var(--transitin) ;
     -ms-transition:var(--transitin) ;
     -o-transition:var(--transitin) ;
    }
    
    :is(.MobileHeader:hover, .MobileHeader:focus-within) .menu-icon{
      background-color: transparent;
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
      -moz-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
      -o-transform: rotate(720deg);
    }
    
    :is(.MobileHeader:hover, .MobileHeader:focus-within) .menu-icon::before{
      transform: translate(-.1px) rotate(-45deg);
      -webkit-transform: translate(-.1px) rotate(-45deg);
      -moz-transform: translate(-.1px) rotate(-45deg);
      -ms-transform: translate(-.1px) rotate(-45deg);
      -o-transform: translate(-.1px) rotate(-45deg);
    
    }
    
    :is(.MobileHeader:hover, .MobileHeader:focus-within) .menu-icon::after{
      transform: translate(-.1px) rotate(45deg);
      -webkit-transform: translate(-.1px) rotate(45deg);
      -moz-transform: translate(-.1px) rotate(45deg);
      -ms-transform: translate(-.1px) rotate(45deg);
      -o-transform: translate(-.1px) rotate(45deg);
    }
    
    :is(.MobileHeader:hover, .MobileHeader:focus-within) .navForMobile{
    display: flex;
    }
    
    
    
    @keyframes showMenu{
      0%{
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }
    80%{
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
    100%{
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
    }
    
    .navForMobile a{
      text-decoration: none;
      padding: 2vw 6vw;
      background-color: #000094;
      margin-bottom: 3vw;
       border-radius: 20px;
      color: #fff;
      font-weight: bold;
      font-size: 13px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    
    header nav{
      display: none;
    }
    header img{
      display: none;
    }

    .headforpages{
      font-size: 5vw;
    }
  

    .stateLogo{
     display: flex;
     position: absolute;
     left: 10vw;
     width: 12vw;
   }
   #BIIHMISLogo{
     display: flex;
     position: absolute;
     left: 20vw;
     width: 15vw;
   }

   #basketLogo{
    display: flex;
    position: absolute;
    left: 35vw;
    width: 15vw;
   }
   

   .heroSpecial{
    width: 100%;
    height: 140vh;
    flex-flow: column wrap;
   }
  .visionMission{
    margin-top: 0;
    height: 120vh;
    width: 100%;
  }

  .hero1{
    height: 60vw;
      background-size: 270%;
      background-position: 40% 60%;
      
    } 
    .heading{
      margin-top: 5vw;
    }
  
  

    .s-text p{
      text-align: center;
      font-size: 12px;
      width: 100%;
    }
    .hero-sub{
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
    .sub-content{
      width: 80%;
      height: 40%;
      line-height: 15px;
      text-align: center;
    }
    .sub-content p{
      font-size: 12px;
    }
    .action-btn{
      width: 100%;
      gap: 2vw;
      
    }
    .action{
      width: 25vw;
      margin: 2vw;
      height: 6vw;
      font-weight: bolder;
    }
    
    .hero2{
      margin-top: 0vw;
    }
    .about-us{
      height: 35vh;
    }
    #Con3{
      height:45vh;

    }
    #lattest{
      height: 200vh;
    }
    .lattestNews h1{
      color: #000094;
      text-align: center;
    }
    #newsBtn{
      width: 30vw;
      height: 5vw;
    }
    .footer{
      height: 60vh;
    }


  }

  
  @media only screen and (width<= 640px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
      overflow-x: hidden;
      position: relative;
      margin-top: 6vw;
    }

    header nav{
      display: none;
    }
    header img{
      display: none;
    }
    
    header nav{
      display: none;
    }
    header img{
      display: none;
    }

    .stateLogo{
     display: flex;
     position: absolute;
     left: 10vw;
     width: 12vw;
   }
   #BIIHMISLogo{
     display: flex;
     position: absolute;
     left: 20vw;
     width: 15vw;
   }


   .heroSpecial{
    width: 100%;
/*     height: 100vh;
 */    flex-flow: column wrap;
   }


    
  .visionMission{
    height: 90vh;
  }
 


  .hero1{
    height: 60vw;
      background-size: 270%;
      background-position: 40% 60%;
      
    } 
    .heading{
      margin-top: 5vw;
    }
   
   

    .s-text p{
      text-align: center;
      font-size: 8px;
      width: 100%;
    }
    .hero-sub{
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
    .sub-content{
      width: 80%;
      height: 40%;
      line-height: 15px;
      text-align: center;
    }
    .sub-content p{
      font-size: 12px;
    }
    .action-btn{
      width: 100%;
      gap: 2vw;
      
    }
    .action{
      width: 25vw;
      margin: 2vw;
      height: 6vw;
      font-weight: bolder;
    }
    
    .hero2{
      margin-top: 0vw;
    }
    .about-us{
      height: 40vh;
    }
    #Con2{
      height:40vh;

    }
    #Con3{
      height:50vh;

    }   
   

    #lattest{
      height: 250vh;
    }
    .lattestNews h1{
      color: #000094;
      text-align: center;
    }
    .news{
      height: 40vw;
    }
    #newsBtn{
      width: 30vw;
      height: 5vw;
    }
    .footer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 160vh;
      width: 80%;
      padding: 0;
/*       border:  solid 3px;
 */    }
    .footerNav{
      display: none;
    }
    .footerBox{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
     gap: 5vw;
     padding: 0;
     margin: 0;
     height: 80vh;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin: 0;
      
    }
    .footerContent{
      width: 60%;
    }
    .footerContent h2{
      font-size: 5vw;
    }
    .year p{
      font-size: 2vw;
    }

    
    


  }

  
  @media only screen and (width<= 560px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
      overflow-x: hidden;
      position: relative;
      margin-top: 6vw;
    }

    header nav{
      display: none;
    }
    header img{
      display: none;
    }
    
    header nav{
      display: none;
    }
    header img{
      display: none;
    }

    .stateLogo{
     display: flex;
     position: absolute;
     left: 10vw;
     width: 12vw;
   }
   #BIIHMISLogo{
     display: flex;
     position: absolute;
     left: 20vw;
     width: 15vw;
   }
   

   .heroSpecial{
    width: 100%;
    margin-top: 2px;
   flex-flow: column wrap;
   white-space: wrap;
   height: 120vh; 
  }


  .visionMission{
    height: 80vh;
  }


  .hero1{
    height: 60vw;
      background-size: 270%;
      background-position: 40% 60%;
      
    } 


    .heading{
      margin-top: 5vw;
    }
 

    .s-text p{
      text-align: center;
      font-size: 8px;
      width: 100%;
    }
    .hero-sub{
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
    .sub-content{
      width: 80%;
      height: 40%;
      line-height: 15px;
      text-align: center;
    }
    .sub-content p{
      font-size: 12px;
    }
    .action-btn{
      width: 100%;
      gap: 2vw;
      
    }
    .action{
      width: 25vw;
      margin: 2vw;
      height: 6vw;
      font-weight: bolder;
    }
    
    .hero2{
      margin-top: 0vw;
    }
    .about-us{
      height: 50vh;
    }

    #Con3{
      height:60vh;

    }
    .lattestNews{
      height: 235vh;
    }
    .lattestNews h1{
      color: #000094;
      text-align: center;
    }
    .news{
      height: 40vw;
    }    .footer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 150vh;
      padding: 0;
    }
    .footerNav{
      display: none;
    }
    .footerBox{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
     gap: 5vw;
     padding: 0;
     margin: 0;
     height: 80vh;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin: 0;
      
    }
    .footerContent{
      width: 60%;
    }
    .footerContent h2{
      font-size: 5vw;
    }
    .year p{
      font-size: 2vw;
    }

  }

  @media only screen and (width<= 500px){
    .visionMission{
      height: 70vh;
    }
    .about-us{
      height: 60vh;
    }
    #Con3{
      height: 70vh;
    }
  }


  @media only screen and (width<= 480px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
   
      overflow-x: hidden;
      position: relative;
      margin-top: 6vw;
     
     }
          
     header nav{
       display: none;
     }
     header img{
       display: none;
     }

     .stateLogo{
      display: flex;
      position: absolute;
      left: 10vw;
      width: 12vw;
    }
    #BIIHMISLogo{
      display: flex;
      position: absolute;
      left: 20vw;
      width: 15vw;
    }


    header nav{
      display: none;
    }
    header img{
      display: none;
    }

    .heroSpecial{
      width: 100%;
      height: 120vh;
      flex-flow: column wrap;
     }

    .visionMission{
      height: 65vh;
    }




    .hero1{
      background-size: 120%;
      height: 40vh;
    }

    .s-text p{
      text-align: center;
      font-size: 8px;
      width: 100%;
    }
    .hero-sub{
      display: none;
    }
    .hero2{
      margin-top: -5vw;
    }
    .headtextformobile{
      font-size: 6vw;
    }
    .about-us{
      height: 60vh;
    }
    #Con2{
      height: 50vh;
    }

    #Con3{
      height: 75vh;
    }
    .Learn{
      margin-top: 5vw;
      height: 8vw;
      width: 40vw;
    }
    #lattest{
      height: 300vh;
    }
    .lattestNews h1{
      line-height:8vw;
      font-size: 6vw;
    }
    #newsBtn{
      margin-top: 5vw;
      height: 8vw;
      width: 40vw;
    }
    .footerContent{
      width: 90%;
    }
    .newsBox{
      height: 200vh;
    }

    .news{
      height: 30vh;
      font-size: 14px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(60%);
              flex: 1 1 calc(60%);
     }
     .news img{
      width: 40px;
     }
     .footer{
      height: 160vw;
      width: 80%;
      padding: 3vw 2vw;
     }
     .footerNav{
      visibility: hidden;
     }
      .footerBox{
        padding: 5px;
        width: 100%;
        height: 100%;
      }
      .footerContent h2{
        font-size: 20px;
      }
      .footerContent p{
        font-size: 14px;
      }
      .registerPageForMobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #e8e8e8;
        padding: 5vw;
        margin-bottom: 6vw;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
      .registerPageForMobile h2{
        text-align: center;
        line-height: 30px;
        color: #000094;
        background-color: #e8e8e8;
        padding: 2.5vw;
      }

      .registerYourFacility{
        background-color: #000094;
        padding: 2vw 5vw;
        border-radius: 5vw;
        border: none;
        -webkit-border-radius: 5vw;
        -moz-border-radius: 5vw;
        -ms-border-radius: 5vw;
        -o-border-radius: 5vw;
        color: #fff;
        font-weight: bold;
}

.year p{
  font-size: 4vw;
  text-align: center;
  margin-bottom: 3vw;
}
@supports (backdrop-filter(blur)) {
  .container {
    display: -ms-grid;
    display: grid;
    grid: auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
}
  }





/* Andriod Phones */


  @media only screen and (width<= 443px)  
  and (-webkit-min-device-pixel-ratio: 1){
    body{
   
      overflow-x: hidden;
      position: relative;
      margin-top: 6vw;
     
     }
          
     header nav{
       display: none;
     }
     header img{
       display: none;
     }

     .stateLogo{
      display: flex;
      position: absolute;
      left: 10vw;
      width: 12vw;
    }
    #BIIHMISLogo{
      display: flex;
      position: absolute;
      left: 20vw;
      width: 15vw;
    }


    header nav{
      display: none;
    }
    header img{
      display: none;
    }

    .heroSpecial{
      width: 100%;
      height: 100vh;
      flex-flow: column wrap;
     }

    .visionMission{
      
      height: 65vh;
    
    }
 


    .hero1{
      background-size: 120%;
      height: 40vh;
    }

    .s-text p{
      text-align: center;
      font-size: 8px;
      width: 100%;
    }
    .hero-sub{
      display: none;
    }
    .hero2{
      margin-top: -5vw;
    }
    .headtextformobile{
      font-size: 6vw;
    }
    .about-us{
      height: 60vh;
    }
    #Con2{
      height: 50vh;
    }

    #Con3{
      height: 75vh;
    }
    .Learn{
      margin-top: 5vw;
      height: 8vw;
      width: 40vw;
    }
    .lattestNews{
      height: 300vh;
    }
    .lattestNews h1{
      line-height:8vw;
      font-size: 6vw;
    }
    #newsBtn{
      margin-top: 5vw;
      height: 8vw;
      width: 40vw;
    }
    .footerContent{
      width: 90%;
    }
    .newsBox{
      height: 200vh;
    }

    .news{
      height: 30vh;
      font-size: 14px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(60%);
              flex: 1 1 calc(60%);
     }
     .news img{
      width: 40px;
     }
     .footer{
      height: 160vw;
      width: 80%;
      padding: 3vw 2vw;
     }
     .footerNav{
      visibility: hidden;
     }
      .footerBox{
        padding: 5px;
        width: 100%;
        height: 100%;
      }
      .footerContent h2{
        font-size: 20px;
      }
      .footerContent p{
        font-size: 14px;
      }
      .registerPageForMobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #e8e8e8;
        padding: 5vw;
        margin-bottom: 6vw;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
      .registerPageForMobile h2{
        text-align: center;
        line-height: 30px;
        color: #000094;
        background-color: #e8e8e8;
        padding: 2.5vw;
      }

      .registerYourFacility{
        background-color: #000094;
        padding: 2vw 5vw;
        border-radius: 5vw;
        border: none;
        -webkit-border-radius: 5vw;
        -moz-border-radius: 5vw;
        -ms-border-radius: 5vw;
        -o-border-radius: 5vw;
        color: #fff;
        font-weight: bold;
}

.year p{
  font-size: 4vw;
  text-align: center;
  margin-bottom: 3vw;
}
@supports (backdrop-filter(blur)) {
  .container {
    display: -ms-grid;
    display: grid;
    grid: auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
}
  }


  @media only screen and (width<= 400px)  
  and (-webkit-min-device-pixel-ratio: 1){
    body{
   
      overflow-x: hidden;
      position: relative;
      margin-top: 6vw;
     
     }
          
     header nav{
       display: none;
     }
     header img{
       display: none;
     }

     .stateLogo{
      display: flex;
      position: absolute;
      left: 10vw;
      width: 12vw;
    }
    #BIIHMISLogo{
      display: flex;
      position: absolute;
      left: 20vw;
      width: 15vw;
    }
     
     
     .search{
       width: 90%;
       gap: 1vw;
     }
     .search input{
       height: 4vh;
       width: 80%;
     }
     .heroSpecial{
      width: 100%;
      height: 80vh;
      flex-flow: column wrap;
     }


    .visionMission{
     height: 65vh;
      }
    
     
     
         .hero1{
           background-size: 120%;
           height: 25vh;
           width: 94%;
         }
   
         .s-text p{
           text-align: center;
           font-size: 8px;
           width: 100%;
         }
         .hero-sub{
           display: none;
         }
         .hero2{
           margin-top: -5vw;
         }
         .headtextformobile{
           font-size: 6vw;
         }
         .about-us{
           height: 60vh;
         }
       
         #Con2{
           height: 60vh;
         }
         #Con3{
           height: 75vh;
         }
     
         .lattestNews{
           height: 280vh;
           gap: 6vw;
           margin: 0;
         }
       
     
     
         .news{
           height: 30vh;
           font-size: 14px;
           -webkit-box-flex: 1;
               -ms-flex: 1 1 calc(60%);
                   flex: 1 1 calc(60%);
          }
          .news img{
           width: 40px;
          }
          .footer{
           height: 210vw;
           width: 80%;
          }
     
          .footerNav{
           visibility: hidden;
          }
           .footerBox{
             padding: 5px;
             width: 100%;
             height: 100%;
           }
           .footerContent h2{
             font-size: 20px;
           }
           .footerContent{
             font-size: 14px;
             width: 63vw;
           }
     .year p{
       font-size: 4vw;
       text-align: center;
       margin-bottom: 3vw;
     }
           .registerPageForMobile{
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
                 -ms-flex-flow: column wrap;
                     flex-flow: column wrap;
             -webkit-box-pack: center;
                 -ms-flex-pack: center;
                     justify-content: center;
             -webkit-box-align: center;
                 -ms-flex-align: center;
                     align-items: center;
             background-color: #e8e8e8;
             padding: 5vw;
             margin-bottom: 6vw;
             border-radius: 15px;
             -webkit-border-radius: 15px;
             -moz-border-radius: 15px;
             -ms-border-radius: 15px;
             -o-border-radius: 15px;
     }
           .registerPageForMobile h2{
             text-align: center;
             line-height: 30px;
             color: #000094;
             background-color: #e8e8e8;
             padding: 2.5vw;
           }
     
           .registerYourFacility{
             background-color: #000094;
             padding: 2vw 5vw;
             border-radius: 5vw;
             border: none;
             -webkit-border-radius: 5vw;
             -moz-border-radius: 5vw;
             -ms-border-radius: 5vw;
             -o-border-radius: 5vw;
             color: #fff;
             font-weight: bold;
     }
     .stateLogo{
       display: flex;
       position: absolute;
       left: 10vw;
       width: 12vw;
     }
     #BIIHMISLogo{
       display: flex;
       position: absolute;
       left: 20vw;
       width: 15vw;
     }
     
     
     @supports (backdrop-filter(blur)) {
       .container {
         display: -ms-grid;
         display: grid;
         grid: auto;
         grid-gap: 10px;
         background-color: #2196F3;
         padding: 10px;
       }
     }
     
  }


 /*  orientation : landscape */



  @media only screen and (width<= 380px) 
  and (-webkit-min-device-pixel-ratio: 1){

  
    body{
   
 overflow-x: hidden;
 position: relative;
 margin-top: 6vw;

}

header nav{
  display: none;
}
/* header img{
  display: none;
} */



.search{
  width: 90%;
  gap: 1vw;
}
.search input{
  height: 4vh;
  width: 80%;
}



.heroSpecial{
  margin-top: 2px;
 flex-flow: column wrap;
 white-space: wrap;
 height: 80vh; 
 margin-bottom: 20px;
}


.visionMission{
height: 50vh;
padding: 0;
margin: 0;
}
.visionMission img{
  width: 100%;
  padding: 0;
}


    .hero1{
      background-size: 120%;
      height: 25vh;
      width: 94%;
    }

    .s-text p{
      text-align: center;
      font-size: 8px;
      width: 100%;
    }
    .hero-sub{
      display: none;
    }
    .hero2{
      margin-top: -5vw;
    }
    .headtextformobile{
      font-size: 6vw;
    }
    .about-us{
      height: 50vh;
    }
  
    #Con2{
      height: 60vh;
    }
    #Con3{
      height: 70vh;
    }

    .lattestNews{
      height: 280vh;
      gap: 6vw;
      margin: 0;
    }
  


    .news{
      height: 30vh;
      font-size: 14px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(60%);
              flex: 1 1 calc(60%);
     }
     .news img{
      width: 40px;
     }
     .footer{
      height: 250vw;
      width: 80%;
     }

     .footerNav{
      visibility: hidden;
     }
      .footerBox{
        padding: 5px;
        width: 100%;
        height: 100%;
      }
      .footerContent h2{
        font-size: 20px;
      }
      .footerContent{
        font-size: 14px;
        width: 63vw;
      }
.year p{
  font-size: 4vw;
  text-align: center;
  margin-bottom: 3vw;
}
      .registerPageForMobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #e8e8e8;
        padding: 5vw;
        margin-bottom: 6vw;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
      .registerPageForMobile h2{
        text-align: center;
        line-height: 30px;
        color: #000094;
        background-color: #e8e8e8;
        padding: 2.5vw;
      }

      .registerYourFacility{
        background-color: #000094;
        padding: 2vw 5vw;
        border-radius: 5vw;
        border: none;
        -webkit-border-radius: 5vw;
        -moz-border-radius: 5vw;
        -ms-border-radius: 5vw;
        -o-border-radius: 5vw;
        color: #fff;
        font-weight: bold;
}
.stateLogo{
  display: flex;
  position: absolute;
  left: 10vw;
  width: 12vw;
}
#BIIHMISLogo{
  display: flex;
  position: absolute;
  left: 20vw;
  width: 15vw;
}


@supports (backdrop-filter(blur)) {
  .container {
    display: -ms-grid;
    display: grid;
    grid: auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
}
}

@media only screen and (width<= 375px) 
and (-webkit-min-device-pixel-ratio: 1){


  body{
 
overflow-x: hidden;
position: relative;
margin-top: 6vw;

}

header nav{
display: none;
}
/* header img{
display: none;
} */



.search{
width: 90%;
gap: 1vw;
}
.search input{
height: 4vh;
width: 80%;
}


.heroSpecial{
  margin-top: 2px;
 flex-flow: column wrap;
 white-space: wrap;
 height: 80vh; 
}

  .hero1{
    background-size: 120%;
    height: 25vh;
    width: 94%;
  }

  .heroSpecial{
    height: 60vh;
  }

  .s-text p{
    text-align: center;
    font-size: 8px;
    width: 100%;
  }
  .hero-sub{
    display: none;
  }
  .hero2{
    margin-top: -5vw;
  }
  .headtextformobile{
    font-size: 6vw;
  }
  .about-us{
    height: 50vh;
  }

  #Con2{
    height: 60vh;
  }
  #Con3{
    height: 70vh;
  }

  .lattestNews{
    height: 280vh;
    gap: 6vw;
    margin: 0;
  }
  .visionMission{
    height: 70vh;
  }



  .news{
    height: 30vh;
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(60%);
            flex: 1 1 calc(60%);
   }
   .news img{
    width: 40px;
   }
   .footer{
    height: 250vw;
    width: 80%;
   }

   .footerNav{
    visibility: hidden;
   }
    .footerBox{
      padding: 5px;
      width: 100%;
      height: 100%;
    }
    .footerContent h2{
      font-size: 20px;
    }
    .footerContent{
      font-size: 14px;
      width: 63vw;
    }
.year p{
font-size: 4vw;
text-align: center;
margin-bottom: 3vw;
}
    .registerPageForMobile{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #e8e8e8;
      padding: 5vw;
      margin-bottom: 6vw;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
}
    .registerPageForMobile h2{
      text-align: center;
      line-height: 30px;
      color: #000094;
      background-color: #e8e8e8;
      padding: 2.5vw;
    }

    .registerYourFacility{
      background-color: #000094;
      padding: 2vw 5vw;
      border-radius: 5vw;
      border: none;
      -webkit-border-radius: 5vw;
      -moz-border-radius: 5vw;
      -ms-border-radius: 5vw;
      -o-border-radius: 5vw;
      color: #fff;
      font-weight: bold;
}
.stateLogo{
display: flex;
position: absolute;
left: 10vw;
width: 12vw;
}
#BIIHMISLogo{
display: flex;
position: absolute;
left: 20vw;
width: 15vw;
}






@supports (backdrop-filter(blur)) {
.container {
  display: -ms-grid;
  display: grid;
  grid: auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
}
}

/* LANDSCAPE */

/* @media only screen 
and (orientation: landscape) {

  body{
  }
  header nav ul li a{
    font-size: 8px;
  }

  .action{
    height: 5vw;
  }

  .heroSpecial{
    height: 200vh;
  }

  .container{
    height: 160vh;
  }

  .buttons{
    bottom: 170px;
    right:200px;
  }

  .hero2{
    margin-top: -90px;
  }
  .about-us{
    height: 60vh;
  }
  #Con3{
    height: 80vh;
  }

  #lattest{
    height: 290vh;
  }
  .news{
    height: 50vh;
  }
  #newsBtn{
    height: 5vw;
  }

} */






