/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
padding: 1vw 5vw;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
  flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;

/*     margin-bottom: 100vw;
*/ 
}

*{
    padding: 0;
    margin: 0;
}
 .Access{
  display: none;
}
input, textarea{
  font: poppins;
}
:root {
    /* Header Variables */
    --h1-font-size: 2.5rem; 
    --h1-color: #000094;
    --nav-font:.95rem;
    --nav-fontW: bolder;
    --text-color:#ffffff;
    --text-size: 1rem;
    --white-bg:#ffffff;
    --blue-bg:#000094;
  
    --h2-font-size: 2rem; 
    --h2-color: #555555;
  
    /* Background Color */
    --bg-color: #e8e8e8; 
    --bg-color2: #000094; 
    /* Button Color */
    --btn-color: #ffffff; 
    --btn-border: #000094 solid 1.5px;
    --btn-padding:.5vw 1vw;
    --border-r:30px;
    --transitin:.5s ease;
  }


  header{
    
   width: 95%;
    height: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }
  header img{
    width:6.6vw;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
/*     border: var(--btn-border);
    border-radius: 50%;
 */  }
 .stateLogo{
  width: 4.5vw;
  max-height: auto;
  object-fit: cover;
   margin-left: -16px;
  margin-right: 6px;
 }

  nav{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
    
  }
  nav ul li{
    text-align: left;
    list-style: none;
  }
  nav ul li a{
    background-color: #ffffff;
    border-radius: var(--border-r);
    font-size: var(--nav-font);
    font-weight: var(--nav-fontW);
    text-decoration: none;
    padding: var(--btn-padding);
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }
  nav a:hover, nav a:focus{
    background-color: #000094;
    color: var(--btn-color);
    border-radius: var(--border-r);
  }


  .hero1{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    background-image: url(Pics/african-american-black-doctor-man-with-stethoscope-isolated-white-background.jpg);
    background-position: center;
    background-size: 160%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    position: relative;
    padding: 2vw;
    gap: 2vw;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }

.hero1::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #7676ff;
  position: absolute;
  border-radius: 30px;
  opacity: 0;
  -webkit-transition: var(--transitin);
  -o-transition: var(--transitin);
  transition: var(--transitin);
}

.hero1:hover::after{
  opacity: .4;
}
  .subject{
    position: absolute;
    margin: auto;
    left: 28%;
    top: 9.5%;
    z-index: 1;
  }
  .subject img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 67.4%;
  }
  .heading{
    font-size: 12vw;
    text-align: center;
    line-height: 10vw;
    color: var(--bg-color2);
  }
  .s-text{
    width: 86%;
    height: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -2vw;
  }
  .s-text p{
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .4vw;
  }

  .hero-sub{
    width: 90%;
    height: 17vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;

  }
  .sub-content{
    width: 30%;
    height: 50%;
    background-color: var(--bg-color2);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: .5vw 1vw;
  }

  .sub-content p{
    font-size: var(--text-size);
    color: var(--text-color);
    font-weight: bold;
  }

  .action-btn{
    width: 30%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .action{
    padding: 4px 15px;
    font-weight: bold;
    border: var(--btn-border);
    background-color: var(--btn-color);
    color: var(--bg-color2);
    border-radius: var(--border-r);
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }
  .action:hover, .acttion:focus{
  color: var(--btn-color);
  background-color: var(--bg-color2);
  }
  .hero2{
    width: 100%;
     /* height: 300vh; */
     display: -webkit-box;    display: -ms-flexbox;    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-top: 5vw;
    margin-bottom: .5vw;
/*     border: red 2px solid;
 */  }

  .about-us{
    width: 95%;
     height: 70vh; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    gap:1vw;
   margin-left: 2vw;
   margin-top: 1vw;
  }

  .sideTitile{
    position: relative;
  }
  .AboutTopic{
    position: absolute; 
    top: 40%; left: 20px; 
    z-index: 1; 
    color:#353535; 
    font-size: 1.4vw; 
    text-align: center;
  }
  .headtextformobile{
    visibility: hidden;
    color: red;
  }
  .about-us img{
    width: 10vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-us .content{
    width: 60vw;
  }
  .Learn{
    height: 2vw;
    width: 10vw;
    padding: 4px 15px;
    font-weight: bold;
    border: var(--btn-border);
    background-color: var(--btn-color);
    color: var(--bg-color2);
    border-radius: var(--border-r);
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
  }

  .Learn:hover, .Learn:focus{
    color: var(--btn-color);
    background-color: var(--bg-color2);
    }

    .registerPageForMobile{
      display: none;
    }

    .lattestNews{
      width: 100%;
      height: 100vh;
      background-color: var(--bg-color);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      border-radius: 30px;
      padding: 2vw;
      gap: 2vw;
    }
   .newsBox{
    width: 100%;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
   }
   .news{
    flex: 1 1 calc(25% - 10px);
/*     border: #3a3a3a solid 2px;
 */    height: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    position: relative;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .news p{
    white-space: normal;
    width: 90%;
    height: 95%;
/*     border: #000094 solid;
 */    white-space: wrap;
   }
   .newsHead{
    font-weight: bolder;
    text-decoration: underline;
    color: #000094;
   }

   .news:hover, .news:focus{
    background-color: #7676ff;
    color: #ffffff;
   }
   .news img{
    width: 15%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    right: 5px;
    bottom: 5px;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .news img:hover, .new img:focus{
    width: 13%;
   }
   .news p{
    width: 80%;
    padding: 2px 2px;
    margin: 15px ;
    height: 80%;
  pointer-events: none;
   }

   .footer{
    background-color: #3a3a3a;
    width: 100%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 2vw;
    border-radius: 10px;
   
   }
   .footerNav{
/*     border: #fff solid 2px;
 */    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
   }
   .footerNav li{
    list-style: none;
   }
   .footerNav li a{
    color: #fff;
    text-decoration: none;
    padding: .4vw 1vw;
    background-color: var(--bg-color2);
    border-radius: 3vw;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .footerNav li a:hover,  .footerNav li a:focus{
    background-color: #fff;
    color: #000094;
    font-weight: bolder;
   }

   .footerBox{
    width: 100%;
    height: 85%;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-between;
    padding-right: 1vw;
    padding-left: 1vw;
    gap:7vw;
   }

   .footerContent{
    color: #fff;

   }
   .footerContent a{
    color: #fff;
    text-decoration: none;
    -webkit-transition: var(--transitin);
    -o-transition: var(--transitin);
    transition: var(--transitin);
   }
   .footerContent a:hover, .footerContent a:focus{
    color: #a17d7d;
   }



   /* Media Queries */


 /* LAPTOP */



 @media screen and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 

/*   body{
    background-color: rgb(43, 255, 0);
  }
 */
  .hero2{
    margin-top: 0;
  }

   .about-us{
   height: 40vh;
   margin-top: 1vw;
/*    border: green solid 4px;
 */   }
   #Con3{
     height: 50vh;
     
   }
   .content p{
     text-align: justify;
   
   }

   .Learn{
     height: 2vw;
     width: 10vw;
     margin-bottom: 2vw;
   }
   .lattestNews{
     width: 100%;
     height: 90vh;
   }
   .news{
    height: 33vh;
   }
   #newsBtn{
      height: 2vw;
      width: 10vw;
   }
    .s-text{
     margin-top: 0vw;
   } 
   .sub-content{
     width: 30%;
   height: 65%;
   }

   .footer{
    height: 40vh;
    margin-top: 0;
   }
}
 @media screen and (max-device-width: 1200px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .about-us{
  }


  
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 



    .hero2{
      margin-top: 0;
    }
  
     .about-us{
     height: 40vh;
     margin-top: 1vw;
  /*    border: green solid 4px;
   */   }
     #Con3{
       height: 40vh;
       
     }
     .content p{
       text-align: justify;
     
     }
  
     .Learn{
       height: 2vw;
       width: 10vw;
       margin-bottom: 2vw;
     }
     .lattestNews{
       width: 100%;
       height: 90vh;
     }
     .news{
      height: 33vh;
     }
     #newsBtn{
        height: 2vw;
        width: 10vw;
     }
      .s-text{
       margin-top: 0vw;
     } 
     .sub-content{
       width: 30%;
     height: 65%;
     }
  
     .footer{
      height: 40vh;
      margin-top: 0;
     }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    nav{
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
              margin-left: 1vw;
    }
    
    nav ul li a{
      font-size: 10px;
      background-color: #d8d8d8c9;
   }
   .hero1{
    height: 60vh;
    margin-bottom: 1.5vw;
   }
  
   .hero-sub{
    flex-flow: column;
    display: flex;
    align-items: center;
    gap: 3vw;
   }
   .sub-content{
    width: 80%;
  
   }
   .action-btn{
    width: 60%;
   }
   .action{
    width: 20vw;
    height: 5vh;
   }
   .about-us{
    height: 35vh;
  
   } 

   .content{
    font-size: 14px;
   }
   #Con3{
    height: 43vh;
   }
   #newsBtn{
    width: 40vw;
    height: 8vh;
    margin-top: 2vw;
    font-size: 16px;
   }
   .lattestNews{
    height: 130vh;
    width: 80vw;
   }
   .news{
    height: 25vh;
    font-size: 14px;
    flex: 1 1 calc(50% - 10px);
   }
   .news img{
    width: 3vw;
   }
   #newsBtn{
    width: 20vw;
    height: 4vw;
   }
   .Learn{
    width: 25vw;
    height: 4vw;
    margin-bottom: 6vw;
  }

   .footer{
    height: 35vh;
   }
   .footerBox{
    justify-content: center;
    align-items: start;
   }
   .footerNav a{
    font-size: 13px;
   }
   .footerContent h2{
    font-size: 20px;
   }
   .footerContent p{
    font-size: 14px;
   }
  


}

@media only screen 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .about-us{
      position: relative;
      height: 28vh;
    }
    #Con3{
      height: 34vh;
    }
    .content{
      font-size: 12px;
    }

    .topicpics{
      display: none;
      position: absolute;
    }
  .AboutTopic{
visibility: hidden;
}
.Learn{
  width: 25vw;
  height: 4vw;
  margin-bottom: 6vw;
}
.headtextformobile{
  visibility: visible;
  color: #000094;
  font-size: 3vw;
  font-weight: bold;
}
.lattestNews h1{
  text-align: center;
  font-size: 5vw;
  line-height: 4.6vw;
  color: #000094;
}
.news{
    flex: 1 1 calc(50% - 50px);
    width:10vw;
}
.footer{
  height: 30vw;
}
.footerNav a{
font-size: 12px;
}
.footerContent h2{
  font-size: 16px;
}
.footerContent p{
  font-size: 12px;
}
  }

/* Andriod Phones */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 380px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
/*       background-color: red;
 */    
 overflow-x: hidden;
}
    header nav{
      display: none;
    }
    header img{
      display: none;
    }
    .hero1{
      background-size: 120%;
      height: 20vh;
    }
    .heading{
    }
    .changecolor{
    }
    .s-text{
    }
    .s-text p{
      text-align: center;
      font-size: 8px;
      width: 100%;
    }
    .hero-sub{
      display: none;
    }
    .hero2{
      margin-top: 0;
    }
    .about-us{
      height: 48vh;
    }
    
    .headtextformobile{
      font-size: 6vw;
    }
    #Con2{
      height: 63vh;
    }
    #Con3{
      height: 64vh;
    }
    .Learn{
      margin-top: 5vw;
      height: 8vw;
      width: 40vw;
    }
    .lattestNews{
      height: 240vh;
    }
    #newsBtn{
      margin-top: 5vw;
      height: 8vw;
      width: 40vw;
    }

    .news{
      height: 25vh;
      font-size: 14px;
      flex: 1 calc(50% - 2px);
     }
     .news img{
      width: 40px;
     }
     .footer{
      height: 30vw;
      padding: 3vw 2vw;
     }
     .footerNav{
      visibility: hidden;
     }
      .footerBox{
        padding: 5px;
        width: 100%;
        height: 100%;
      }
      .footerContent h2{
        font-size: 8px;
      }
      .footerContent p{
        font-size: 6px;
      }
      .registerPageForMobile{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: #e8e8e8;
        padding: 5vw;
        margin-bottom: 6vw;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
      .registerPageForMobile h2{
        text-align: center;
        line-height: 30px;
        color: #000094;
        background-color: #e8e8e8;
        padding: 2.5vw;
      }

      .registerYourFacility{
        background-color: #000094;
        padding: 2vw 5vw;
        border-radius: 5vw;
        border: none;
        -webkit-border-radius: 5vw;
        -moz-border-radius: 5vw;
        -ms-border-radius: 5vw;
        -o-border-radius: 5vw;
        color: #fff;
        font-weight: bold;
}



}