#site-content {
	min-height: 100%;
	min-height: 100vh;
	/* padding-top: 65px; */
	padding-bottom: 65px;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
  
}

#site-footer {
	padding: 25px 0;
	font-size: 85%;
	background-color: #023a00;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}

/* NOT NEEDED, THIS IS JUST FOR THE PEN */
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);

html, body {
	padding: 0;
	margin: 0;
	background-color: #D1D1D1;
}
#site-content {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.year{
    display: flex;
    justify-content: center;
    align-items: center;
}
.year p{
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
}

#site-footer {
    padding-left: .3vw;
    padding-right: .3vw;
        display: flex;
    justify-content: center;
    align-items: center;
	min-height: 5vw;
	/* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
	/* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
	background-size: cover;
	background-position: center;
/* 	background-image: url('http://dummyimage.com/1500x1500/2A2A2A/FFF.png?text=Footer+Area+(Resize+Me)');
 */}


@media only screen 
  and (width<= 812px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .year p{
    color: #ffffff;
    font-size: 4vw;
    text-align: center;
}

#site-footer{
    padding-left: .3vw;
    padding-right: .3vw;
    display: flex;
    justify-content: center;
    align-items: center;
	min-height: 10vw;
}
 }